<div id="distance-run-view"
     data-id="distance-run-view" 
     data-role="view"  
     data-title="Distance Run"
     data-layout="main-layout"
     >

    <div class="distance-run">
        <h4>Input distance you want to run today </h4>
        <div id="km">
            <label>
                Kilometres
                <input id="variableKmInput" class="inputBox" type="number" placeholder="Enter kilometres"/>
            </label>
        </div>
        <div id="metrеs">
            <label>
                Metres
                <input id="variableMetresInput" class="inputBox" type="number" placeholder="Enter metres" />
            </label>
        </div>
        <button class="button" id="distanceRunStartButton" data-role="button">START</button>
    </div>
</div>

