<div data-role="view" 
     id="time-run-view" 
     data-id="time-run-view" 
     data-layout="main-layout" 
     data-title="Time run" 
     data-show="app.timeRun.init"
     data-hide="app.timeRun.close"
     >
    <h4>Input time you want to run today </h4>
    <div id="hours">
        <label>
            Hours
            <input id="variable-hours-input" class="inputBox" type="number" placeholder="Enter hours"/>
        </label>
    </div>
    <div id="minutes">
        <label>
            Minutes
            <input id="variable-minutes-input" class="inputBox" type="number" placeholder="Enter minutes" />
        </label>
    </div>
    <div id="seconds">
        <label>
            Seconds
            <input id="variable-seconds-input" class="inputBox" type="number" placeholder="Enter seconds" />
        </label>
    </div>
    
    <button id="touch-surface" data-role="touch" data-tap="app.timeRun.run">START</button> 
    
    <div id="current-distance" data-bind="invisible:isInvisible" invisible="true">
        <table>
            <tr>
                <td>Current run distance</td>
                <td data-bind="text:distance"></td>
            </tr>
        </table>
    </div>
    
    <div id="results" data-bind="visible:isVisible" visible="false">
       <div id="result-time" data-bind="text:time"></div>
        <table id="table-results">
            <tr>
                <td>Run distance:</td>
                <td id="distance-result" data-bind="text:distanceResult"></td>
                </tr>
            <tr>
                <td>Average speed:</td>
                <td id="speed-result" data-bind="text:speed"></td>
            </tr>
        </table>
        <button data-role="touch" data-tap="app.timeRun.save" id="save-current-workout" >Save current run</button>
        
    </div>
   

</div>

